Repository cc-tweaked/CC-Tweaked, pull requests merged in 2023-06, with the labels that each got.

#1461 HTTP proxy (closes #369)
  gradle/libs.versions.toml
  projects/common/src/main/java/dan200/computercraft/shared/config/AddressRuleConfig.java
  projects/common/src/main/java/dan200/computercraft/shared/config/ConfigFile.java
  projects/common/src/main/java/dan200/computercraft/shared/config/ConfigSpec.java
  projects/common/src/main/java/dan200/computercraft/shared/config/ProxyPasswordConfig.java
  projects/core/build.gradle.kts
  projects/core/src/main/java/dan200/computercraft/core/CoreConfig.java
  projects/core/src/main/java/dan200/computercraft/core/apis/http/NetworkUtils.java
  projects/core/src/main/java/dan200/computercraft/core/apis/http/options/Action.java
  projects/core/src/main/java/dan200/computercraft/core/apis/http/options/Options.java
  projects/core/src/main/java/dan200/computercraft/core/apis/http/options/PartialOptions.java
  projects/core/src/main/java/dan200/computercraft/core/apis/http/options/ProxyType.java
  projects/core/src/main/java/dan200/computercraft/core/apis/http/request/HttpRequest.java
  projects/core/src/main/java/dan200/computercraft/core/apis/http/websocket/Websocket.java
  projects/fabric/build.gradle.kts
  projects/fabric/src/main/java/dan200/computercraft/shared/platform/FabricConfigFile.java
  projects/forge/build.gradle.kts
  projects/forge/src/main/java/dan200/computercraft/ComputerCraft.java
  projects/forge/src/main/java/dan200/computercraft/shared/platform/ForgeConfigFile.java
Labels: enhancement, area-Core

#1480 Fixed typo in cc.image.nft docs
  projects/core/src/main/resources/data/computercraft/lua/rom/modules/main/cc/image/nft.lua
Labels: bug, area-Documentation

#1485 Allow changing turtle upgrades from the GUI
  projects/common/src/client/java/dan200/computercraft/client/gui/TurtleScreen.java
  projects/common/src/client/java/dan200/computercraft/data/client/ClientDataProviders.java
  projects/common/src/main/java/dan200/computercraft/data/DataProviders.java
  projects/common/src/main/java/dan200/computercraft/shared/container/BasicContainer.java
  projects/common/src/main/java/dan200/computercraft/shared/turtle/inventory/TurtleMenu.java
  projects/common/src/main/java/dan200/computercraft/shared/turtle/inventory/UpgradeContainer.java
  projects/common/src/main/java/dan200/computercraft/shared/turtle/inventory/UpgradeSlot.java
  projects/common/src/main/resources/assets/computercraft/textures/gui/turtle_advanced.png
  projects/common/src/main/resources/assets/computercraft/textures/gui/turtle_normal.png
  projects/common/src/main/resources/assets/computercraft/textures/gui/turtle_upgrade_left.png
  projects/common/src/main/resources/assets/computercraft/textures/gui/turtle_upgrade_left.png.license
  projects/common/src/main/resources/assets/computercraft/textures/gui/turtle_upgrade_right.png
  projects/common/src/main/resources/assets/computercraft/textures/gui/turtle_upgrade_right.png.license
  projects/fabric/build.gradle.kts
  projects/fabric/src/generated/resources/assets/minecraft/atlases/blocks.json
  projects/fabric/src/main/java/dan200/computercraft/data/FabricDataGenerators.java
  projects/forge/src/generated/resources/assets/minecraft/atlases/blocks.json
  projects/forge/src/main/java/dan200/computercraft/data/Generators.java
Labels: enhancement, feedback wanted, area-Minecraft
